# ============================
# Arquivos do IntelliJ / IDEA
# ============================
.idea/
*.iml
*.ipr
*.iws

# ============================
# Arquivos de build/output
# ============================
out/
build/
target/
classes/

# ============================
# Arquivos compilados
# ============================
*.class

# ============================
# Logs
# ============================
*.log

# ============================
# Arquivos do sistema
# ============================
.DS_Store        # macOS
Thumbs.db        # Windows
